#root {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

header {
  height: 62px;
  /* background-color: #fff; */
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  background-color: #83957b;
}

.header-flex {
  display: flex;
  align-items: center;
}

h1:hover {
  cursor: pointer;
  transition: all 0.2s;
  color: #2885F3
}

nav {
  height: 55px;
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 0%;
  border: none;
  background-color: #fff;
  color: #4C403D;
}

ul {
  list-style-type: none;
}

label {
  display: block;
}

p {
  margin: 0;
  margin-left: 1rem;
}

select,
input {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  background-color: #83957b;
  color: #fff;
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  width: 175px;
  box-sizing: border-box;
}

select:focus {
  outline: 1px solid #000;
  border-radius: 0;
}

select:hover {
  outline: 1px solid #000;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #000;
  fill: #000;
}

/** OBS DESC **/
.obs-desc-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.obs-desc {
  font-size: 1.25rem;
  font-style: italic;
}

/** TEXT **/
.langar-regular {
  font-family: "Langar", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.header-text {
  font-size: 1.2rem;
  margin: 0.5rem 4rem 0 2rem;
}

.page-title {
  margin-left: 2rem;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
}

/** ICON BUTTONS **/
.icon-button-container {
  margin: 2px 0;
}

.icon-button-label {
  margin-right: 10px;
}

.icon {
  font-size: 36px;
}

.icon-btn {
  margin: 4px 0 4px 2px;
  transition: background-color 0.25s;
  height: 100%;
}

.icon-btn:hover {
  cursor: pointer;
  background-color: #C2DFAC
}

/** CONTAINERS? LAYOUT? **/
.content {
  height: 100%;
}

.obs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.observation {
  display: flex;
  flex-direction: column;
  color: #000;
  text-align: left;
  margin: 1rem;
  padding: 1rem;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location {
  font-size: 0.8rem;
}

.container {
  border-top: 2px solid #fff;
}

/** NAME VIEW **/
.bird {
  margin: 1rem 0;
}

.bird-name {
  font-size: 1.5rem;
}

.bird-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bird-species {
  font-size: 1.2rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.bird-alpha {
  font-family: "Langar", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: #2885F3;
  border-top: 3px solid #2885F3;
  margin-left: 1rem;
  margin-bottom: 0;
  padding-top: 0.5rem;
}

.bird-letter {
  min-width: 250px;
  margin: 0 2rem;
}

.bird-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: calc(100vh - 112px);
}

/** DATE VIEW **/
.date-container {
  display: flex;
  font-size: 1.3rem;
  flex-direction: row;
  max-height: 90vh;
}

.dates {
  overflow-y: scroll;
  border-right: 2px solid #fff;
}

.date-nav {
  transition: 0.2s;
  min-width: 200px;
  padding: 1rem;
  border-bottom: 2px solid #fff;
}

.date-nav-stats {
  font-size: 0.8rem;
  font-family: "Merriweather", serif;
  color: #666;
}

.date-nav:hover {
  cursor: pointer;
  background-color: #fff;
}

.date-selected {
  background-color: #fff;
}

.date-heading {
  font-family: "Langar", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 10px;
  column-span: all;
}

.date-nav-heading {
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #2885F3;
}

.date-locations {
  column-count: 2;
  column-width: 300px;
}

.date-location {
  margin: 0 0 2rem 0;
  width: 350px;
  break-inside: avoid;
}

.date-seen {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  color: #2885F3;
  font-size: 1.25rem;
}

.date-obs {
  font-size: 1.25rem;
}

.date-detail {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: scroll;
}

/** SELECTED WHAT? **/
.selected {
  background-color: #C2DFAC;
}

.selected:focus {
  outline: 1px solid #000;
  border-radius: 0;
}

.checklist {
  background-color: #fff;
  height: 100%;
  width: 400px;
  position: absolute;
  right: 0;
  overflow-y: scroll;
}

/** LOCATION VIEW **/
.location-container {
  display: flex;
  justify-content: space-between;
  height: 90vh;
}

.location-name-container {
  overflow-y: scroll;
  margin-left: 2rem;
  padding-bottom: 2rem;
}

.location-name-item {
  display: flex;
}

.location-name {
  font-size: 1.25rem;
  margin-top: 0.25rem;
  cursor: pointer;
}

.location-name:hover {
  text-decoration: underline;
}

.location-number {
  background-color: #fff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  font-family: "Langar", system-ui;
  color: #2885F3;
  font-size: 1rem;
  align-self: flex-start;
  text-align: center;
  margin-top: 10px;
  flex-shrink: 0;
}

.location-marker-name {
  margin-left: 0;
}

/** PICKER VIEW **/
.picker-view {
  margin: 3rem auto;
  width: 80%;
  text-align: center;
}

.picker-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.picker {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  border-bottom: 2px solid #333;
  transition: 0.15s;
  font-family: "Merriweather", serif;
  flex-grow: 0;
}

.picker:hover {
  box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
  cursor: pointer;
}