#root {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

header {
  height: 62px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  background-color: var(--header-bg);
}

.header-flex {
  display: flex;
  align-items: center;
}

h1:hover {
  cursor: pointer;
  transition: all 0.2s;
  color: var(--light-link);
}

nav {
  height: 55px;
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 0%;
  border: none;
  background-color: var(--light);
  color: var(--dark);
}

ul {
  list-style-type: none;
}

label {
  display: block;
}

p {
  margin: 0;
  margin-left: 1rem;
}

select,
input {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  background-color: var(--header-bg);
  color: var(--light);
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-bottom: 1px solid var(--light);
  border-radius: 0;
  width: 175px;
  box-sizing: border-box;
}

select:focus {
  outline: 1px solid var(--focus);
  border-radius: 0;
}

select:hover {
  outline: 1px solid var(--focus);
}

/** OBS DESC **/
.obs-desc-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.obs-desc {
  font-size: 1.25rem;
  font-style: italic;
}

/** TEXT **/
.langar-regular {
  font-family: "Langar", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--light);
}

.header-text {
  font-size: 1.2rem;
  margin: 0.5rem 4rem 0 2rem;
}

.page-title {
  margin-left: 2rem;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
}

/** ICON BUTTONS **/
.icon-button-container {
  margin: 2px 4px 2px 0;
}

.icon-button-label {
  margin-right: 10px;
}

.icon {
  font-size: 36px;
}

.icon-btn {
  margin: 4px 0 4px 4px;
  transition: background-color 0.25s;
  height: 100%;
}

.icon-btn:hover {
  cursor: pointer;
  background-color: var(--btn-select-bg);
}

/** CONTAINERS? LAYOUT? **/
.content {
  /* height: 100%; */
  position: relative;
  top: 62px;
  transition: 1s;
}

.obs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.observation {
  display: flex;
  flex-direction: column;
  color: var(--dark);
  text-align: left;
  margin: 1rem;
  padding: 1rem;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location {
  font-size: 0.8rem;
}

.container {
  border-top: 2px solid var(--light);
}

.loading {
  height: 100vh;
  transition: 1s;
}

/** NAME VIEW **/
.bird {
  margin: 1rem 0;
}

.bird-name {
  font-size: 1.5rem;
}

.bird-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bird-species {
  font-size: 1.2rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.bird-alpha {
  font-family: "Langar", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: var(--accent);
  border-top: 3px solid var(--accent);
  margin-left: 1rem;
  margin-bottom: 0;
  padding-top: 0.5rem;
}

.bird-letter {
  min-width: 250px;
  margin: 0 2rem;
}

.bird-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: calc(100vh - 112px);
}

/** DATE VIEW **/
.date-container {
  display: flex;
  font-size: 1.3rem;
  flex-direction: row;
  max-height: 80vh;
}

.dates {
  overflow-y: scroll;
  border-right: 2px solid var(--light);
}

.date-nav {
  transition: 0.2s;
  min-width: 200px;
  padding: 1rem;
  border-bottom: 2px solid var(--light);
}

.date-nav-stats {
  font-size: 0.8rem;
  font-family: "Merriweather", serif;
  color: var(--medium);
}

.date-nav:hover {
  cursor: pointer;
  background-color: var(--light);
}

.date-selected {
  background-color: var(--light);
}

.date-heading {
  font-family: "Langar", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 10px;
  column-span: all;
}

.date-nav-heading {
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--accent);
}

.date-locations {
  column-count: 2;
  column-width: 300px;
}

.date-location {
  margin: 0 0 2rem 0;
  width: 350px;
  break-inside: avoid;
}

.date-seen {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  color: var(--accent);
  font-size: 1.25rem;
}

.date-obs {
  font-size: 1.25rem;
}

.date-detail {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: scroll;
}

/** SELECTED WHAT? **/
.selected {
  background-color: var(--btn-select-bg);
}

.selected:focus {
  outline: 1px solid var(--dark);
  border-radius: 0;
}

.checklist {
  background-color: var(--light);
  height: 100%;
  width: 400px;
  position: absolute;
  right: 0;
  overflow-y: scroll;
}

/** LOCATION VIEW **/
.location-container {
  display: flex;
  justify-content: space-between;
  height: 80vh;
}

.location-name-container {
  overflow-y: scroll;
  margin-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.location-name-item {
  display: flex;
}

.location-name {
  font-size: 1.25rem;
  margin-top: 0.25rem;
  cursor: pointer;
}

.location-name:hover {
  text-decoration: underline;
}

.location-number {
  background-color: var(--light);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  font-family: "Langar", system-ui;
  color: var(--accent);
  font-size: 1rem;
  align-self: flex-start;
  text-align: center;
  margin-top: 10px;
  flex-shrink: 0;
}

.location-marker-name {
  margin-left: 0;
}

/** PICKER VIEW **/
.picker-view {
  margin: 2rem auto 3rem auto;
  width: 80%;
  text-align: center;
}

.picker-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.5s;
}

.picker {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  border-bottom: 2px solid var(--medium);
  transition: 0.15s;
  font-family: "Merriweather", serif;
  flex-grow: 0;
}

.picker:hover {
  box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
  cursor: pointer;
}

.picker-page-title {
  margin-left: 2rem;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 0 0 0;
}

.picker-title {
  margin: 0 0 2rem 0;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
}

/** LOADER **/
.loader-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid var(--focus);
  border-right-color: var(--header-bg);
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn)
  }
}

/** ERROR MESSAGE **/
.error-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.error {
  border: 3px solid var(--error);
  font-family: 'Merriweather', serif;
  padding: 1rem;
  background-color: var(--error-bg);
  border-radius: 5px;
  box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
  text-align: center;
}