#root {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.view-nav {
  height: 55px;
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 0%;
  border: none;
  background-color: var(--light);
  color: var(--dark);
  font-size: 0.8rem;
}

ul {
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

label {
  display: block;
}

p {
  margin: 0;
  margin-left: 1rem;
}

select,
input {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  background-color: var(--header-bg);
  color: var(--light);
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-bottom: 1px solid var(--light);
  border-radius: 0;
  width: 175px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat;
  background-position: right 5px top 50%;
}

select:focus {
  outline: 1px solid var(--focus);
  border-radius: 0;
}

select:hover {
  outline: 1px solid var(--focus);
}

/** HEADER **/
header {
  height: 62px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  background-color: var(--header-bg);
}

.header-flex {
  display: flex;
  align-items: center;
}

.header-text {
  font-size: 1.2rem;
  margin: 0 4rem 0 0.125rem;
}

.logo {
  height: 65px;
  fill: #fff;
  transition: 0.5s;
}

.logo-header {
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
}

.logo-header:hover h1,
.logo-header:hover .logo {
  cursor: pointer;
  transition: all 0.2s;
  color: var(--light-link);
  fill: var(--light-link);
}

/** OBS DESC **/
.obs-desc-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.obs-desc {
  font-size: 1.25rem;
  font-style: italic;
}

/** TEXT **/
.langar-regular {
  font-family: "Langar", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-title {
  padding-top: 2rem;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
}

/** ICON BUTTONS **/
.icon-button-container {
  margin: 2px 4px 2px 0;
}

.icon-button-label {
  margin-right: 10px;
}

.icon {
  font-size: 36px;
}

.icon-btn {
  margin: 4px 0 4px 4px;
  transition: background-color 0.25s;
  height: 100%;
}

.icon-btn:hover {
  cursor: pointer;
  background-color: var(--btn-select-bg);
}

/** CONTAINERS? LAYOUT? **/
.content {
  /* height: 100%; */
  /* position: relative; */
  /* top: 62px; */
  margin-top: 62px;
  transition: 1s;
}

.obs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.observation {
  display: flex;
  flex-direction: column;
  color: var(--dark);
  text-align: left;
  margin: 1rem;
  padding: 1rem;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location {
  font-size: 0.8rem;
}

.container {
  border-top: 2px solid var(--light);
}

.loading {
  height: 100vh;
  transition: 1s;
}

/** NAME VIEW **/
.bird {
  margin: 1rem 0;
}

.bird-name {
  font-size: 1.5rem;
}

.bird-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bird-species {
  font-size: 1.2rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.bird-alpha {
  font-family: "Langar", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: var(--accent);
  border-top: 3px solid var(--accent);
  margin-left: 1rem;
  margin-bottom: 0;
  padding-top: 0.5rem;
  margin-top: 0;
}

.bird-letter {
  break-inside: avoid;
  padding-bottom: 3rem;
  scroll-margin-top: 75px;
}

.bird-letter-nav {
  column-span: all;
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.bird-letter-nav-item {
  border: 2px solid var(--light);
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  font-family: "Langar", system-ui;
  color: var(--accent);
  font-size: 1rem;
  align-self: flex-start;
  text-align: center;
  margin-top: 10px;
  flex-shrink: 0;
  line-height: 1.7;
  transition: 0.2s;
}

.bird-letter-nav-item:hover {
  background-color: var(--light);
  color: var(--accent);
}

.bird-container {
  overflow-y: scroll;
  column-count: 5;
  column-width: 300px;
  padding: 2rem;
  padding-top: 1rem;
  gap: 2rem;
  transition: 0.5s;
}

.bird-scroll-to-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: var(--accent);
  color: var(--light);
  padding: 1rem;
}

.bird-scroll-to-top:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px #949494;
  transition: 0.1s;
}

.bird-scroll-to-top:hover svg {
  transition: 0.5s;
  transform: translateY(-3px);
}

/** DATE VIEW **/
.date-container {
  display: flex;
  font-size: 1.3rem;
  flex-direction: row;
  max-height: 80vh;
}

.dates {
  overflow-y: scroll;
  border-right: 2px solid var(--light);
}

.date-nav {
  transition: 0.2s;
  max-width: 225px;
  min-width: 125px;
  padding: 1rem;
  border-bottom: 2px solid var(--light);
}

.date-nav-stats {
  font-size: 0.8rem;
  font-family: "Merriweather", serif;
  color: var(--medium);
}

.date-nav:hover {
  cursor: pointer;
  background-color: var(--light);
}

.date-selected {
  background-color: var(--light);
}

.date-heading {
  font-family: "Langar", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 10px;
  column-span: all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.date-nav-heading {
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--accent);
}

.date-locations {
  column-count: 2;
  column-width: 300px;
  gap: 2rem;
}

.date-location {
  margin: 0 0 2rem 0;
  width: 350px;
  break-inside: avoid;
}

.date-seen {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  color: var(--accent);
  font-size: 1.25rem;
  margin-left: 1rem;
  display: block;
}

.date-seen:hover {
  cursor: pointer;
  text-decoration: underline;
}

.date-obs {
  font-size: 1.25rem;
}

.date-detail {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: scroll;
  padding-bottom: 5rem;
}

/** SELECTED WHAT? **/
.selected {
  background-color: var(--btn-select-bg);
  outline: 1px solid var(--light);
}

.selected:focus {
  outline: 1px solid var(--light);
  border-radius: 0;
}

/** CHECKLIST DIALOG **/
.checklist-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000007d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checklist {
  background-color: var(--light);
  overflow-y: scroll;
  margin: 0 auto;
  max-width: 90%;
  width: 30rem;
  display: block;
  max-height: 90vh;
  overflow-y: scroll;
  padding-top: 1.5rem;
}

.checklist-head {
  font-size: 1.75rem;
  line-height: 1.25;
  text-align: center;
  margin-left: 0;
}

.checklist-name {
  font-style: italic;
  text-align: center;
  font-size: 1.25rem;
  margin: 5px 0 15px 0;
}

.checklist-exception {
  font-style: italic;
}

/** LOCATION VIEW **/
.location-container {
  display: flex;
  justify-content: space-between;
  height: 80vh;
}

.location-name-container {
  overflow-y: scroll;
  margin-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.location-name-item {
  display: flex;
}

.location-name {
  font-size: 1.25rem;
  margin-top: 0.25rem;
  cursor: pointer;
  background-color: unset;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  text-align: left;
  margin-left: 1rem;
}

.location-name:hover {
  text-decoration: underline;
}

.location-number {
  background-color: var(--light);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  font-family: "Langar", system-ui;
  color: var(--accent);
  font-size: 1rem;
  align-self: flex-start;
  text-align: center;
  margin-top: 10px;
  flex-shrink: 0;
}

.location-marker-name {
  margin-left: 0;
}

div.gm-style-iw.gm-style-iw-c {
  flex-direction: row-reverse;
}

div div div.gm-style-iw-d {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  overflow: visible !important;
  justify-content: center;
}

/** PICKER VIEW **/
.picker-view {
  margin: 2rem auto 3rem auto;
  width: 80%;
  text-align: center;
}

.picker-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.5s;
}

.picker {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  border-bottom: 2px solid var(--medium);
  transition: 0.15s;
  font-family: "Merriweather", serif;
  flex-grow: 0;
}

.picker:hover {
  box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
  cursor: pointer;
}

.picker-page-title {
  margin-left: 2rem;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 0 0 0;
  padding-top: 2rem;
  line-height: 2.75rem;
}

.picker-title {
  margin: 0 0 2rem 0;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
}

/** LOADER **/
.loader-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid var(--focus);
  border-right-color: var(--header-bg);
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn)
  }
}

/** ERROR MESSAGE **/
.error-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.error {
  border: 3px solid var(--error);
  font-family: 'Merriweather', serif;
  padding: 1rem;
  background-color: var(--error-bg);
  border-radius: 5px;
  box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
  text-align: center;
}

.map {
  width: 70vw;
  height: 80vh;
}


@media (max-width: 1000px) {
  .header-text {
    display: none;
  }

  .logo {
    margin-right: 0.5rem;
  }

  .date-nav-heading {
    margin-left: 0;
  }

  .date-nav-stats {
    margin-left: 0;
  }

  .location-name-container {
    width: 30%;
    margin-left: 1rem;
  }

  .map {
    width: 70%;
  }
}

@media (max-width: 750px) {
  .header-text {
    display: none;
  }

  .page-title {
    font-size: 2.25rem;
    padding-top: 1rem;
    margin-bottom: 0.75rem;
  }

  .picker-page-title {
    font-size: 2.25rem;
    padding-top: 1rem;
    line-height: 2.5rem;
  }

  .picker-title {
    margin-bottom: 1rem;
  }

  .date-nav-stats {
    display: none;
  }

  .date-container {
    flex-direction: column;
  }

  .dates {
    display: flex;
    overflow-x: scroll;
    min-height: 4rem;
    align-items: center;
    border-bottom: 2px solid var(--light);
  }

  .date-nav {
    min-width: 75px;
    text-align: center;
    border-right: 2px solid var(--light);
  }

  .date-nav-heading {
    margin: 0;
    line-height: 1.35rem;
    font-size: 1.1rem;
  }

  .date-locations {
    overflow-wrap: anywhere;
  }

  .location-name-container {
    display: none;
  }

  .map {
    width: 100%;
    height: 90vh;
  }

  .icon-button-label {
    display: none;
  }
}

@media (max-width: 635px) {
  .header-flex {
    margin-left: 1rem;
  }

  .logo-header {
    display: none;
  }

  .obs-desc-container {
    margin: 0;
  }

  select {
    width: 50%;
  }
}

@media (max-width: 475px) {
  select {
    background: none;
  }
}

@media (max-width: 400px) {
  .header-flex {
    margin-left: 0;
  }
}