:root {
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 100%;
  color: #4C403D;
  background-color: #E6F0DE;
  --main-bg: #e6f0de;
  --header-bg: #3d5732;
  --accent: #535bf2;
  --light-link: #b2d1ff;
  --focus: #fff;
  --btn-select-bg: #b2d1ff;
  ;
  --light: #fff;
  --dark: #000;
  --medium: #666;
  --error-bg: rgb(253, 223, 223);
  --error: rgb(224, 119, 125);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: var(--link);
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}